{% extends "students/base.html" %}

{% block meta_title %}Іспити{% endblock meta_title %}

{% block title %}Результати іспитів{% endblock title %}


{% block content %}

  <!-- Exams of Students -->
  <nav style="text-align: center; margin-top: 20px;">
    <a href="">&larr;</a> I семестр <a href="">&rarr;</a>
  </nav>

<!--{% for exm in exams %}
  {{ exm.title_exam }}<br>
{% endfor %}-->

    <table class="table table-hover table-striped" id="exams">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
      <tr>
        <th>№</th>
        <th>
          <!--<a href="{% url "exams" %}?order_by=student.student_group.title{% if request.GET.order_by == 'student.student_group.title' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">-->
            <a href="">Група
            <!--{% if order_by == 'student.student_group.title' and reverse != '1' %}&uarr;
            {% elif order_by == 'student.student_group.title' and reverse == '1' %}&darr;
            {% endif %}-->
          </a></th>
        <th>
          <a href="{% url "exams" %}?order_by=last_name{% if request.GET.order_by == 'last_name' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">
            Студент
            {% if order_by == 'last_name' and reverse != '1' %}&uarr;
            {% elif order_by == 'last_name' and reverse == '1' %}&darr;
            {% endif %}
          </a>
        </th>
        {% for exam in exams %}
        <th><span style="font-size:1.1em;color:#CD6600">{{ exam.title_exam }}</span><span style="font-weight:100"><br>викл. {{ exam.examiner }}<br>{{ exam.date_exam }}</span></th>
        {% endfor %}
      </tr>
    </thead>
    {% endwith %}
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ forloop.counter }}</td>

        <td>{{ student.student_group.title }}</td>

        <td style="text-align:left"><a href="">{{ student.last_name }} {{ student.first_name }}</a></td>
        {% for exam in exams %}
        <td>{{ value | random }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if students.has_other_pages %}
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <nav>
    <ul class="pagination">
      <li>
        <a href="{% url "exams" %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a>
      </li>
      {% for p in students.paginator.page_range %}
      <li {% if students.number == p %}class="active"{% endif %}>
        <a href="{% url "exams" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
      </li>
      {% endfor %}
      <li>
        <a href="{% url "exams" %}?page={{ students.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&raquo;</a>
      </li>
    </ul>
  </nav>
  {% endwith %}
  {% endif %}





  <!--<nav>
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </nav>-->

{% endblock content %}