{% extends "students/base.html" %}

{% block meta_title %}Облік відвідування{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}


{% block content %}

  <!-- Visiting Students -->
  <nav style="text-align: center; margin-top: 20px;">
    <a href="">&larr;</a> Жовтень 2014 <a href="">&rarr;</a>
  </nav>


  <table class="table table-hover table-striped" id="visiting">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
      <tr>
        <th>№</th>
        <th>
          <a href="{% url "visiting" %}?order_by=last_name{% if request.GET.order_by == 'last_name' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">
          Студент
            {% if order_by == 'last_name' and reverse != '1' %}&uarr;
            {% elif order_by == 'last_name' and reverse == '1' %}&darr;
            {% endif %}
          </a>
        </th>
        <th>Ср 1</th>
        <th>Чт 2</th>
        <th>Пт 3</th>
        <th>Сб 4</th>
        <th>Нд 5</th>
        <th>Пн 6</th>
        <th>Вт 7</th>
        <th>Ср 8</th>
        <th>Чт 9</th>
        <th>Пт 10</th>
        <th>Сб 11</th>
        <th>Нд 12</th>
        <th>Пн 13</th>
        <th>Вт 14</th>
        <th>Ср 15</th>
        <th>Чт 16</th>
        <th>Пт 17</th>
        <th>Сб 18</th>
        <th>Нд 19</th>
        <th>Пн 20</th>
        <th>Вт 21</th>
        <th>Ср 22</th>
        <th>Чт 23</th>
        <th>Пт 24</th>
        <th>Сб 25</th>
        <th>Нд 26</th>
        <th>Пн 27</th>
        <th>Вт 28</th>
        <th>Ср 29</th>
        <th>Чт 30</th>
        <th>Пт 31</th>
      </tr>
    </thead>
    {% endwith %}
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="">{{ student.last_name }} {{ student.first_name }}</a></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
        <td><input type="checkbox"></label></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if students.has_other_pages %}
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <nav>
    <ul class="pagination">
      <li>
        <a href="{% url "visiting" %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a>
      </li>
      {% for p in students.paginator.page_range %}
      <li {% if students.number == p %}class="active"{% endif %}>
        <a href="{% url "visiting" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
      </li>
      {% endfor %}
      <li>
        <a href="{% url "visiting" %}?page={{ students.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&raquo;</a>
      </li>
    </ul>
  </nav>
  {% endwith %}
  {% endif %}





  <!--<nav>
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </nav>-->

{% endblock content %}