{% extends "students/base.html" %}

{% block meta_title %}Облік відвідування{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}


{% block content %}

              <!-- Visiting Students -->
          <table class="table table-hover table-striped" id="visiting">
            <thead>
              <tr>
                <th>№</th>
                <th>Студент</th>
                <th>Ср 1</th>
                <th>Чт 2</th>
                <th>Пт 3</th>
                <th>Сб 4</th>
                <th>Нд 5</th>
                <th>Пн 6</th>
                <th>Вт 7</th>
                <th>Ср 8</th>
                <th>Чт 9</th>
                <th>Пт 10</th>
                <th>Сб 11</th>
                <th>Нд 12</th>
                <th>Пн 13</th>
                <th>Вт 14</th>
                <th>Ср 15</th>
                <th>Чт 16</th>
                <th>Пт 17</th>
                <th>Сб 18</th>
                <th>Нд 19</th>
                <th>Пн 20</th>
                <th>Вт 21</th>
                <th>Ср 22</th>
                <th>Чт 23</th>
                <th>Пт 24</th>
                <th>Сб 25</th>
                <th>Нд 26</th>
                <th>Пн 27</th>
                <th>Вт 28</th>
                <th>Ср 29</th>
                <th>Чт 30</th>
                <th>Пт 31</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><a href="#">Подоба Віталій</a></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
              </tr>
              <tr>
                <td>2</td>
                <td><a href="#">Корост Андрій</a></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
              </tr>
              <tr>
                <td>3</td>
                <td><a href="#">Притула Тарас</a></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
                <td><input type="checkbox"></label></td>
              </tr>
            </tbody>
          </table>
          <!-- Visiting Students -->
<!--
          <br>


        <table class="table">
          <thead>
            <tr>
              <th><a href="#">№</a></th>
              <th>Студент</th>
              <th><a href="#">Назва &uarr;</a></th>
              <th><a href="#">Староста</a></th>
              <th>Дії</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="">{{ student.last_name }}</a></td>
              <td>jgjg</td>
              <td></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">Дія
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>Редагувати</li>
                    <li>Видалити</li>
                  </ul>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>



<br><br><br>










-->
        <nav>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </nav>

{% endblock content %}